.Homelayout{
    margin-top: 19px;
    width: 100%;
}
.hometop{
    display: flex;
    gap: 19px;
}
.leftlayout{
    flex: 3;
}
.rightlayout{
    flex: 1;
}
.rightlayoutinner{
    display: flex;
    justify-content: space-between;
    gap: 19px;
}
.exnews{
height: 77px;
left: 0px;
flex: 3;
background: #C4C4C4;
border-radius: 0px 20px 0px 0px;
}
.newsflex{
    display: flex;
    color: #fff;
    gap: 1rem;
    padding: min(1.7rem,2rem);
}
.newsflex h5{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.newsflex p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.searchbox{
    flex: 2;
}
.searchbox > input{
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.tracker{
    margin-top: 19px;
}
.language{
    margin-top: 12px;
    margin-left: 10px;
    
}
.language > select{
    width: 45px;
    height: 32px;
    background: #D9D9D9;
    border-radius: 9px;
}
.notification{
    margin-top: 19px;
}
.slider{
    height: 570px;
    flex: 3;
}
.slideimg1{
    width: 100%;
    height: 100%;
}

.sponsor{
    height: 510px;
    flex: 1;
    margin-top: 19px;
}
.sponsor img {
    width: 100%;
    height: 100%;
}
.sponsorimg{
    object-fit: cover; 
}

.middlesection{
    display: grid;
    width: 96%;
    margin-top: 1.1rem;
    margin-inline: auto;
    grid-template-columns: 25% auto 25%;
    column-gap: 1.1rem;
    

}
.HomeLeftSection{
    height: fit-content;
    background: #19469D;
border-radius: 0px 20px 20px 0px;
}
.HomeCenterSection{
    height: auto;
}


/* ----------------- Banner CSS------------------ */

.bannerText {
    padding: 7rem 5rem;
    position: absolute;
}
.registerbtn{
    width: 162px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #19469D;
    border: none;
    font-family: 'Inter';
}
.bannerText1{
    color: #fff;
    font-style: normal;
font-weight: 700;
font-size: 3rem;
line-height: 51px;
}
.bannerText2{
    color: #fff;
    font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 51px;
}

.chartclass{
    width: 244px;
    height: 240px;
    margin: auto;
}
.chartheader{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    margin: 10px 0 0 22px;

}
.chartmatch{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22.5949px;
    line-height: 27px;
    margin: 10px 0 0 22px;
}