.Homelayout{
    margin-top: 19px;
    width: 100%;
}
.hometop{
    display: flex;
    gap: 19px;
}
.leftlayout{
    flex: 3;
}
.rightlayout{
    flex: 1.2;
}
.rightlayoutinner{
    display: flex;
    justify-content: space-between;
    gap: 19px;
}
.exnews{
height: 77px;
left: 0px;
flex: 3;
background: #C4C4C4;
border-radius: 0px 20px 0px 0px;
}
.newsflex{
    display: flex;
    color: #fff;
    gap: 1rem;
    padding: 30px 50px;
}
.newsflex h5{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.newsflex p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.searchbox{
    display: flex;
    flex: 2;
}
.searchbox > input{
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.icon11 {
    margin-top: 22px;
    margin-left: -35px;
    font-size: 21px;
    color: rgb(170, 168, 168);
}
.tracker{
    margin-top: 19px;
}
.language{
    margin-top: 12px;
    margin-left: 10px;
    
}
.language > select{
    width: 45px;
    height: 32px;
    background: #D9D9D9;
    border-radius: 9px;
}
.notification{
    margin-top: 19px;
}
.slider{
    /* height: 570px; */
    flex: 3;
}
.slideimg1{
    width: 100%;
    height: 100%;
}

.sponsor{
    height: 555px;
    flex: 1;
    margin-top: 19px;
}
.sponsor img {
    width: 100%;
    height: 100%;
}
.sponsorimg{
    object-fit: cover; 
    position: relative;
    height: 555px;
    color: #fff;
}
.first-txt{
    position: absolute;
    top: 210px;
    left: 12rem;
    font-weight: 700;
}
.middlesection{
    display: grid;
    width: 96%;
    margin-top: 1.1rem;
    margin-inline: auto;
    grid-template-columns: 25% auto 25%;
    column-gap: 1.1rem;
    

}
.HomeLeftSection{
    height: fit-content;
    max-height: 700px;
    background: #19469D;
    border-radius: 0px 20px 20px 0px;
    overflow: auto;
}
.HomeCenterSection{
    height: auto;
}


/* ----------------- Banner CSS------------------ */

.bannerText {
    padding: 7rem 5rem;
    position: absolute;
}
.registerbtn{
    width: 162px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #19469D;
    border: none;
    font-family: 'Inter';
}
.bannerText1{
    color: #fff;
    font-style: normal;
font-weight: 700;
font-size: 3rem;
line-height: 51px;
}
.bannerText2{
    color: #fff;
    font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 51px;
}

.chartclass{
    width: 244px;
    height: 240px;
    margin: auto;
}
.chartheader{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    margin: 10px 0 0 22px;

}
.chartmatch{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22.5949px;
    line-height: 27px;
    margin: 10px 0 0 22px;
}
.react-calendar{
    width: 95% !important;
    margin: auto;
}

.react-calendar {
    /* width: 400px; */
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
    margin-left: 45%;
    margin-top: 20%;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }

  button#uncontrolled-tab-example-tab-ante {
    background: #a0a096;
    border-radius: 20px 20px 0 0;
    color: #fff;
    height: 46px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
button#uncontrolled-tab-example-tab-contact {
    background: #d1d1ce;
    border-radius: 20px 20px 0 0;
    color: #fff;
    height: 46px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

button#uncontrolled-tab-example-tab-home {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    background: #fff;
    border-radius: 20px 20px 0 0;
    height: 46px;
}
button#uncontrolled-tab-example-tab-contact:active{
    background-color: #fff;
}