.resultCard{
    border-radius: 20px;
    background: #D9D9D9;
    height: min(20rem,40rem);
    margin-top: 1.1rem;
}
.resultCardHeader{
    background: linear-gradient(180deg, #078BE6 0%, #19469D 100%);
    border-radius: 20px;
    height: 258px;
}
.resultCardHeader h2{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 24px 0 0 24px;
    font-family: 'Inter';
}
.live_result_data{
    display: flex;
    justify-content: space-between;
}
.result_match_name{
    font-style: normal;
    font-weight: 700;
    font-size: 22.5949px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 4px 0 0 24px;
}
.livedatacard{
    width: 100%;
    margin: auto;
}
.result_match_left{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.result_match_right{
display: flex;
gap: 17px;
padding-right: 24px;
}
.result_match_right > p{
color: #fff;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
}
.result_match_raceNo{
font-style: normal;
font-weight: 700;
font-size: 22.5949px;
line-height: 17px;
color: #FFFFFF;
padding: 4px 0 0 24px;

}
.result_match_totalRunner{
    font-style: normal;
font-weight: 400;
font-size: 15.5949px;
line-height: 19px;
color: #FFFFFF;
padding: 4px;
}

.customers1 {
    border: none;
    width: 100%;
    background-color: #D9D9D9;
  }
  
  .customers1 td, .customers1 th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
   .customers1 tr:hover {background-color: #ddd;}
  .customers1 tr{
    color: #000;
  }
   .customers1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color: #000;
  }
  
  .resulttablehome{
    height: 50px;
  }