.bannerHome{
    background: linear-gradient(180deg, #078BE6 0%, #19469D 100%);
    border-radius: 20px;
    height: min(20rem,40rem);
}
.bannerCard > img{
    float: right;
    margin: 2rem;
}

.chartPrediction{
    display: flex;
    gap: 1.1rem;
    margin-top: 1.1rem;
}
.GraphCard{
    flex:1 ;
    height: min(22rem,40rem);
    background: linear-gradient(180deg, rgba(7, 139, 230, 0.1) 0%, rgba(25, 70, 157, 0.1) 100%);
    background-blend-mode: luminosity;
    border-radius: 20px;
}
.PredictionCard{
    flex:1 ;
    height: min(22rem,40rem);
background-color: #6a6969;    
border-radius: 20px;
}
.endsection{
    display: flex;
    justify-content: space-between;
    margin-top: 1.1rem;
    width: 96%;
    margin-inline: auto;
}
.AdsCard{
    background: #C4C4C4;
    width: 25%;
    height: 510px;

}
.AdsCard h1{
    text-align: center;
}
.PredictionFlex{
    display: flex;
    justify-content: space-between;
}
.Predictiontable{
    display: flex;
    width: 90%;
    margin-inline: auto;
    justify-content: space-between;
    padding-top: 15px;
}

.presictData h6{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #fff;
    margin: 20px 0 0 40px;
}
.MatchDataPredict h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22.5949px;
line-height: 7px;
margin: 20px 0 0 40px;
color: #FFFFFF;
}
.PredictionFlex{
    width: 90%;
    margin-inline: auto;
}
.PredictionFlex :nth-child(1){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22.5949px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 20px 0 0 20px;
    
}
.PredictionFlex :nth-child(2){
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15.5949px;
line-height: 19px;

color: #FFFFFF;
    margin: 20px 0 0 20px;
}
.PredictionFlex :nth-child(3){
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15.5949px;
line-height: 19px;
color: #5EC40F;
    margin: 20px 0 0 20px;
}
.playerPredictTable{
    margin-inline: auto;
    width: 96%;
    height: min(14.5rem,40rem);
    background: #FFFFFF;
    border-radius: 17px;
}

.calenderin{
    width: 90%;
    margin: auto;
    
}

.react-calendar {
    width: 90%;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin: auto;
    border-radius: 20px;
}
.Currentpostdiv{
    width: 90%;
    margin-inline: auto;
    height: fit-content;
    background: #EFEFEF;
    border-radius: 0px 20px 20px 20px;
}
.nav-tabs {
    border: none !important;
    width: 90%;
    margin-inline: auto;
    margin-top: 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
   border: none;
   background: #fff;
border-radius: 20px 20px 0px 0px;
}
.tab-content {
    margin-top: -23px;

}
button#uncontrolled-tab-example-tab-home {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}
.calendericon{
    color: #000;
    font-size: 18px;
}
.nav-link {
color: #000;
font-size: 18px;
}
.Currentpostdiv h3{
    text-align: center;
    color: #000;
}
.Currentpostheader{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-inline: auto;
    margin-top: 12px
}
.Currentpostheader h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 19px;
margin-top: 20px;
color: #000000;
}
.Currentpostheader img{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 19px;
margin-top: 10px;
color: #000000;
}
.Competitionitem{
    border-radius: 21px;
    margin: 8px;
}