.CompetitionModal{
    width: 727px;
height: 829px;
left: 376px;
top: 191px;
background: linear-gradient(180deg, #078BE6 0%, #19469D 100%), #19469D;
border-radius: 18px;
margin: auto;
}

.CompetitionModalHead{

}
.CompetitionName{
display: flex;
padding: 30px 0px 10px 30px;
}
.CompetitionName h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22.5949px;
    line-height: 27px;
    
    color: #FFFFFF;
}
.CompetitionName h3{
padding: 3px 0 0 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16.5949px;
line-height: 20px;
color: #FFFFFF;
}
.CompetitionPoint{
display: flex;
gap: 13.39px;
padding-left: 30px;
}
.CompetitionCard{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 13.3898px;
color: #fff;
width: 42px;
height: 60px;
left: 395px;
top: 264px;
background: #5EC40F;

}
.CompetitionPoint > div:nth-child(5){
    width: 91px;
height: 78px;
left: 595px;
top: 264px;

background: #5EC40F;
border-radius: 6.69492px 6.69492px 0px 0px;
}
.CompetitionPoint > div:nth-child(7){
width: 42px;
height: 60px;
left: 395px;
top: 264px;
background: #FF0000;
border-radius: 6.69492px 6.69492px 0px 0px;

}
.CompetitionPoint > div:nth-child(3){
    width: 42px;
    height: 60px;
    left: 395px;
background: #ED6203;
border-radius: 6.69492px 6.69492px 0px 0px;
}
.CompetitionPrize{
    box-sizing: border-box;
width: 688px;
height: 129px;
left: 396px;
top: 340px;
margin: auto;
background: #FFFFFF;
border: 0.97807px solid rgba(0, 0, 0, 0.1);
border-radius: 17.6053px;
margin-bottom: 8px;
}
.CompetitionHorse{ 
box-sizing: border-box;
width: 688px;
height: 55px;
left: 0px;
top: 0px;
margin: auto;
margin-top: 5px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 18px;
display: flex;
justify-content: space-between;
}

.CompetitionBtn > button{
margin: 20px;
bottom: 34.49%;
background: #FF0000;
border-radius: 15px;
float: right;
border: none;
Width:287px;
Height:57px;
color: #fff;
}
.Competitiontrophy{
    display: flex;
    justify-content: space-evenly;
}
.Trophydata > span:nth-child(1){
    font-style: normal;
    font-weight: 700;
    font-size: 20.3439px;
    line-height: 25px;
    color: #000000;
}
.Trophydata{
    margin-top: 15px;
}

.Trophydata_P > p{
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0rem;
}
.Trophydata_P > p:nth-child(3){
    font-weight: 700;
}
.CompetitionHorse > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 19.6px;
    line-height: 24px;
    color: #19469D;
    padding: 15px;
}
.CompetitionHorseselect > ToggleButton{
    border: none;
    width: 64px;
height: 55px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 18px;
margin-left: 14px;
}
.ToggleButton{
    width: 64px;
height: 55px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 18px;
margin-left: 14px;
text-align: center;
padding-top: 15px;
color: #000;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}