.header{
height: 96px;
width: 85%;
left: 0px;
top: 0px;
background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
border-radius: 0px 0px 50px 0px;

}

.headerlayout{
    display: flex;
}

.menuNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logoclass{
    margin-top: 19px;
}
.menuNav p{
    color: #fff;
    align-items: center;
    margin-top: 32px;
    text-transform: capitalize;
    cursor: pointer;
}

