@media (max-width: 1900px) and (min-width: 1600px){
    button.slick-arrow.slick-next {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
        margin-right: 1px;
    }
    button.slick-arrow.slick-prev {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
        margin-right: 1px;
    }
}
@media (max-width: 1619px) and (min-width: 1490px){
    button.slick-arrow.slick-next {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
        /* margin-right: 10px; */
    }
    button.slick-arrow.slick-prev {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
        margin-right: 12px;
    }
    .first-txt {
        padding: 55px;
        top: 25%;
        font-size: 38.4118px;
        line-height: 48px;
    }

    .slideimg1{
        width: 100%;
        height: 460px;
    }
    
    .sponsor{
        height: 460px;
        flex: 1;
        margin-top: 19px;
    }
    .sponsor img {
        width: 100%;
        height: 100%;
    }
    .sponsorimg{
        object-fit: cover; 
        position: relative;
        height: 460px;
        color: #fff;
    }
    .slider {
        height: 460px;
        flex: 3 1;
    }
    button#uncontrolled-tab-example-tab-home {
        width: 130px;
    }
    button#uncontrolled-tab-example-tab-ante{
        width: 130px;
    }
}
@media (max-width: 1490px) and (min-width: 1320px){
    button.slick-arrow.slick-next {
        width: 25px;
        height: 124px;
        margin-right: 10px;
    }
    button.slick-arrow.slick-prev {
        width: 25px;
        height: 124px;
        margin-right: 10px;
    }
    .first-txt {
        padding: 55px;
        top: 25%;
        font-size: 38.4118px;
        line-height: 48px;
    }

    .slideimg1{
        width: 100%;
        height: 420px;
    }
    
    .sponsor{
        height: 420px;
        margin-top: 19px;
    }
    .sponsor img {
        width: 100%;
        height: 100%;
    }
    .sponsorimg{
        height: 420px;

    }
    .slider {
        height: 420px;
        flex: 3 1;
    }
    button#uncontrolled-tab-example-tab-home {
        width: 120px;
    }
    button#uncontrolled-tab-example-tab-ante{
        width: 120px;
    }
    .singleracecard {
        width: 210px !important;
        height: 124px;
    }
    .resultCard {
        height: min(24rem,40rem);
    }
    .PredictionFlex {
        width: 100%;
        align-items: baseline;
        margin-inline: auto;
    }
    .MatchDataPredict h3 {
        font-size: 20.5949px;
        margin: 20px 0 0 18px;
    }
    .presictData h6 {
        font-size: 15px;
        line-height: 15px;
        margin: 20px 0 0 20px;
    }
    .racetime {
        font-size: 19.4333px;
        margin-left: -25px;
        color: #FF9900;
        width: 50px;
        height: 30px;
    }
    .clubname {
        padding: 1.5rem 0rem 0rem 1rem;
    }
    .owner {
        padding-left: 1rem;
    }
    .AddingtonStyle img {
        height: 90.9px;
    }
    .Addingtonname {
        font-size: 15px;
    }
    .Addingtontimer {
        font-size: 16.4118px;
    }
    .racedisc {
        height: 178px;
    }
    .innerCardBlogs {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: hidden;
        height: 435px;
    }
    .CompetitionHeader h2 {
      
        font-size: clamp(0.1rem, 1.5vw, 2rem);
        padding: 8px 0;
    }
    
    .CompetitionHeader img {
        height: 40px;
    }
    .Copyrights {
    
        font-size: 11px;
    }
}
@media (max-width: 1320px) and (min-width: 1024px){

    .slideimg1{
        width: 100%;
        height: 400px;
    }
    button.slick-arrow.slick-prev {
     
        margin-left: 1px;
    }
    
    .sponsor{
        height: 400px;
        margin-top: 19px;
    margin-right: 10px;
    
}
    .sponsor img {
        width: 100%;
        height: 100%;
    }
    .sponsorimg{
        height: 400px;

    }
    .slider {
        height: 400px;
        flex: 3 1;
    }
    button.slick-arrow.slick-next {
        width: 25px;
        height: 124px;
        margin-right: 10px;
    }
    button.slick-arrow.slick-prev {
        width: 25px;
        height: 124px;
     
    }
  
    .menuNav p {
        font-size: 12px;
    }
    .newsflex p {
        font-size: 10px;
    }
    .newsflex {
        padding: 30px 20px;
    }
    
    .buttonSubscribe {
        padding: 0;
    }
    .rightlayoutinner {
        margin-right: -63px;
    }
    
    button.slick-arrow.slick-prev.slick-disabled {
    
        margin-left: 1px;
    }
  
    button.slick-arrow.slick-next {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
     
    }
    button.slick-arrow.slick-prev {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
        margin-right: 12px;
    }
 
    .singleracecard {
      
        max-width: 193px !important;
        margin-left: 6px;
     
    }
    .rightlayoutinner {
        margin-right: -14px;
    }

    .first-txt {
    font-size: 38px;
    

    }
    button#uncontrolled-tab-example-tab-home {
    
    max-width: 70px;
    font-size: 10px;
    }
    button#uncontrolled-tab-example-tab-ante {
      
        font-size: 11px;
    max-width: 86px;
    
    }
    button#uncontrolled-tab-example-tab-contact {
   
    
        max-width: 53px;
    }
    .Currentpostheader h2 {
       
        font-size: 12px;
    
      
    }
    
    
    .AccordionHeader > p:nth-child(1) {
    
        font-size: 12.5949px;
     
      
    }
    
    .Currentpostheader img {
    
     
        width: 40px;
    
    }
    .bannerText1 {
      
        font-size: 2.5rem;
       
    }
    .bannerText2 {
    
        font-size: 2.5rem;
    
    }
    .Competition_Matches p {
        font-size: 10px;
    }

    .CompetitionHeader h2 {
   
        font-size: clamp(1rem, 1vw, 1rem);
        padding: 10px;
    }
    .CompetitionHeader img {
        width: 42px;
    }
    .PredictionCard {
        margin-top: 5rem;
    }
    .GraphCard {
    
        margin-top: 5rem;
    }
    
    .footertext1 {
        padding: 1rem -2rem;
    
        color: #000000;
    }
    .mtfooter {
        font-size: 14px;
    }
    
    .mtfooter1 {
        margin-top: 25px;
        max-width: 111%;
    }
    .innerCardBlogs {

        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: hidden;
        height: 435px;
        max-width: 100%;
    }
    .MatchDataPredict h3 {
   
        font-size: 18.5949px;

    }
    
    .PredictionFlex :nth-child(1) {
       
        font-size: 18.5949px;

   
    }
    
    .chartmatch {
      
        font-size: 18.5949px;
 
        margin: 15px 0 0 -1px;
        text-align: center;
    }
    
    .playerPredictTable {
   
        margin-top: 0px;
    }
    
    .AccordionHeader {

        justify-content: space-between;
     
        height: 40px;
    }
    
    .Predictiontable {
 
        padding-top: 15px;
        font-size: 14px;
    }
    .MatchDataPredict h3 {
       
        font-size: 18.5949px;
      
    }
    
    .PredictionFlex :nth-child(1) {


        font-size: 18.5949px;
    
        margin: 20px 0 0 20px;
    }
    
    .chartmatch {
   
        font-size: 18.5949px;
    
        margin: 15px 0 0 -1px;
        text-align: center;
    }
    
    .playerPredictTable {
    
        margin-top: 0px;
    }
    
    
    
    .Predictiontable {
    
        font-size: 14px;
    }
    .AccordionHeader > p:nth-child(2) {

        font-size: 10.5949px;
    
    }
}



