@media (max-width: 1900px) and (min-width: 1600px){
    .singleracecard {
        box-sizing: border-box;
        width: 180px !important;
        height: 124px;
        background: #FFFFFF;
        border: 2px solid #DFDFDF;
        border-radius: 20px;
        transition: 0.4s linear all;
    }
}
@media (max-width: 1600px) and (min-width: 1280px){
    .singleracecard {
        box-sizing: border-box;
        width: 180px !important;
        height: 124px;
        background: #FFFFFF;
        border: 2px solid #DFDFDF;
        border-radius: 20px;
        transition: 0.4s linear all;
    }
    .clubname {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 7px;
        color: #000000;
        padding: 1.5rem 0rem 0rem 1rem;
    }
    
.slick-slide.slick-active.slick-current {
    outline: none;
      width: 195px;
      overflow: hidden
  }
  .sponsorimg {
    object-fit: cover;
    position: relative;
    height: 100%;
    color: #fff;
}
.sponsor {
    height: 390px;
    flex: 1 1;
    margin-top: 19px;
}
.slider {
    height: 390px;
    flex: 3 1;
}
}
@media (max-width: 1280px) and (min-width: 980px){
    .leftlayout {
        flex: 2 1;
    }
    .menuNav p {
        font-size: 14px;
    }

    .logoclass {
        margin-top: 20px;
        width: 180px;
    }

    .buttonSubscribe {
        text-decoration: none;
        color: #000;
        padding: 15px;
    }
    .buttonLogin {
        text-decoration: none;
        color: #000;
        padding: 15px;
    }
    .slider {
        height: 350px;
        flex: 3 1;
    }
    .singleracecard {
        box-sizing: border-box;
        width: 200px !important;
        height: 124px;
        background: #FFFFFF;
        border: 2px solid #DFDFDF;
        border-radius: 20px;
        transition: 0.4s linear all;
    }
    .clubname {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 7px;
        color: #000000;
        padding: 1.5rem 0rem 0rem 1rem;
    }
    .PredictionFlex {
        width: 100%;
        margin-inline: auto;
    }
    
    .PredictionFlex :nth-child(1) {
        font-size: 17.5949px;
        color: #FFFFFF;
        margin: 10px 0 0 20px;
    }
    
    .PredictionFlex :nth-child(2) {
        font-size: 12.5949px;
        margin: 20px 0 0 20px;
    }
    
    .PredictionFlex :nth-child(3) {
        font-size: 12.5949px;
        margin: 17px 10px 0 20px;
    }
    .MatchDataPredict h3 {
        font-size: 15.5949px;
    }
    .chartmatch {
        font-size: 18.5949px;;
    }


    .MatchDataPredict h3 {
        margin: 20px 0 0 20px;
    }

    .presictData h6 {
        margin: 17px 0 0 20px;
    }
    .Currentpostheader h2 {
  
        font-size: 14px;
        
      }
      .bannerText {
          padding: 5rem 3rem;
         
      }
      .bannerText1 {
       
      
          font-size: 2.5rem;
      
      }
      .bannerText2 {
         
         
          font-size: 2.6rem;
         
      }
      button#uncontrolled-tab-example-tab-home {
      
      
          font-size: 12px;
      
       
      }
      .nav-link {
      
          font-size: 12px;
      }
      .nav-tabs {
          
          width: 92%;
      }
      .AccordionHeader p{
      font-size: 0.8rem;
      }
      .Currentpostheader img {
      
          font-size: 14px;
       
      }
      .CompetitionHeader h2 {
          
          font-size: clamp(1rem, 10vw, 1.5em);
      }
      .CompetitionHeader {
          width: 100%;
       
          display: flex;
          margin-top: 0.8rem;
          justify-content: space-around;
      }
      
      .result_match_raceNo {
      
          font-size: 18px;
      
      
        
      }
      .result_match_right > p {
       
          font-size: 14px;
          line-height: 19px;
      }
      .AdsCard {
        background: #C4C4C4;
        width: 25%;
        height: fit-content;
    }
    .sponsorimg {
        object-fit: cover;
        position: relative;
        height: 300px;
        color: #fff;
    }
    .sponsor {
        height: 300px;
        flex: 1 1;
        margin-top: 19px;
    }
    .slider {
        height: 350px;
        flex: 3 1;
    }
}
@media (max-width: 980px) and (min-width: 768px){
    
}