@media (max-width: 1900px) and (min-width: 1600px){
    button.slick-arrow.slick-next {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
        margin-right: 1px;
    }
    button.slick-arrow.slick-prev {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
        margin-right: 1px;
    }
}
@media (max-width: 1619px) and (min-width: 1490px){
    button.slick-arrow.slick-next {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
        /* margin-right: 10px; */
    }
    button.slick-arrow.slick-prev {
        width: 25px;
        height: 124px;
        background: #D9D9D9;
        border-radius: 10px;
        margin-right: 12px;
    }
    .first-txt {
        padding: 55px;
        top: 25%;
        font-size: 38.4118px;
        line-height: 48px;
    }

    .slideimg1{
        width: 100%;
        height: 460px;
    }
    
    .sponsor{
        height: 460px;
        flex: 1;
        margin-top: 19px;
    }
    .sponsor img {
        width: 100%;
        height: 100%;
    }
    .sponsorimg{
        object-fit: cover; 
        position: relative;
        height: 460px;
        color: #fff;
    }
    .slider {
        height: 460px;
        flex: 3 1;
    }
    button#uncontrolled-tab-example-tab-home {
        width: 130px;
    }
    button#uncontrolled-tab-example-tab-ante{
        width: 130px;
    }
}
@media (max-width: 1490px) and (min-width: 1320px){
    button.slick-arrow.slick-next {
        width: 25px;
        height: 124px;
        margin-right: 10px;
    }
    button.slick-arrow.slick-prev {
        width: 25px;
        height: 124px;
        margin-right: 10px;
    }
    .first-txt {
        padding: 55px;
        top: 25%;
        font-size: 38.4118px;
        line-height: 48px;
    }

    .slideimg1{
        width: 100%;
        height: 420px;
    }
    
    .sponsor{
        height: 420px;
        margin-top: 19px;
    }
    .sponsor img {
        width: 100%;
        height: 100%;
    }
    .sponsorimg{
        height: 420px;

    }
    .slider {
        height: 420px;
        flex: 3 1;
    }
    button#uncontrolled-tab-example-tab-home {
        width: 120px;
    }
    button#uncontrolled-tab-example-tab-ante{
        width: 120px;
    }
    .singleracecard {
        width: 210px !important;
        height: 124px;
    }
    .resultCard {
        height: min(24rem,40rem);
    }
    .PredictionFlex {
        width: 100%;
        align-items: baseline;
        margin-inline: auto;
    }
    .MatchDataPredict h3 {
        font-size: 20.5949px;
        margin: 20px 0 0 18px;
    }
    .presictData h6 {
        font-size: 15px;
        line-height: 15px;
        margin: 20px 0 0 20px;
    }
    .racetime {
        font-size: 19.4333px;
        margin-left: -25px;
        color: #FF9900;
        width: 50px;
        height: 30px;
    }
    .clubname {
        padding: 1.5rem 0rem 0rem 1rem;
    }
    .owner {
        padding-left: 1rem;
    }
    .AddingtonStyle img {
        height: 90.9px;
    }
    .Addingtonname {
        font-size: 15px;
    }
    .Addingtontimer {
        font-size: 16.4118px;
    }
    .racedisc {
        height: 178px;
    }
    .innerCardBlogs {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: hidden;
        height: 435px;
    }
}
@media (max-width: 1320px) and (min-width: 1024){
    .slideimg1{
        width: 100%;
        height: 400px;
    }
    
    .sponsor{
        height: 400px;
        margin-top: 19px;
    }
    .sponsor img {
        width: 100%;
        height: 100%;
    }
    .sponsorimg{
        height: 400px;

    }
    .slider {
        height: 400px;
        flex: 3 1;
    }
}