* {
  font-family: "Inter";
}

body::-webkit-scrollbar {
  width: 0.1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(48, 8, 139), darksalmon);
}

.HomeLeftSection::-webkit-scrollbar {
  width: 0.1em;
}

.HomeRightSection::-webkit-scrollbar {
  width: 0.1em;
}

.Competitiontrophy::-webkit-scrollbar {
  width: 0.1em;
}

.RaceDetailHeader::-webkit-scrollbar {
  width: 0.1em;
}

.RaceAndHorseModelDataCSSFlex::-webkit-scrollbar {
  width: 0.1em;
}

.LeaderData::-webkit-scrollbar {
  width: 0.1em;
}

.newpost::-webkit-scrollbar {
  width: 0.1em;
}

.CompetitionData::-webkit-scrollbar {
  width: 0.1em;
}

.HomeRightLeaderBoader::-webkit-scrollbar {
  width: 0.1em;
}

.carousel-control-prev-icon {
  display: none !important;
}

.carousel-control-next-icon {
  display: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 9px;
  height: 9px;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 50% !important;
  color: rgb(53, 53, 53) !important;
}

a {
  color: #000;
  text-decoration: none;
}

.mobiledata {
  display: none;
}

.mobilemenudata {
  display: none;
}

.scroll-container1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border-radius: 20px;
}

.react-calendar__month-view__days__day--weekend {
  color: #000;
}

.searchLottie {
  height: 100px !important;
}

.homeLottie {
  height: 500px !important;
  position: absolute;
  top: 40%;
  left: 40%;
}

.compLottie {
  height: 200px;
}

.slideLottie {
  height: 300px !important;
}

.trackerTab {
  margin-bottom: 39px !important;
  margin-left: 67px !important;
}

/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: none;
  color: #fff !important;
  font-weight: 700;
  background-color: #19469D !important;
  width: 220px;
  border-radius: 25px;
  height: 52px;
} */
.tracker {
  color: red !important;
}

.trackerTab button#noanim-tab-example-tab-1 {
  background: linear-gradient(89.98deg, #4e4e4e 23.67%, #979695 97.94%);
}

.trackerTab button#noanim-tab-example-tab-2 {
  background: linear-gradient(89.98deg, #4e4e4e 23.67%, #979695 97.94%);
  margin: 0 20px;
}

.trackerTab.active {
  border: none;
  color: #fff !important;
  font-weight: 700;
  background-color: red !important;
}

.load {
  margin: 230px auto;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.page-link {
  cursor: pointer;
}